.red-team-color {
  color: #f86155;
}

.blue-team-color {
  color: #4fadf3;
}

.gameboard {
  padding: 0;
}

.gameboard .card {
  background-color: white;
  height: 100%;
  border-radius: 10px;
}

.gameboard .card.bystander {
  color: #bebebe;
}

.gameboard .card.assassin {
  color: black;
}

.gameboard .card.selected {
  color: white;
}

.gameboard .card.non-active:hover {
  background-color: white;
  cursor: default;
}

.gameboard .card.selected.spy.bg-red {
  background-color: #f86155;
  color: white;
}

.gameboard .card.selected.spy.bg-blue {
  background-color: #4fadf3;
  color: white;
}

.gameboard .card.red-c {
  color: #f86155;
}
.gameboard .card.blue-c {
  color: #4fadf3;
}

.game-panel {
  padding: 25px 0;
}

.game-prompt {
  width: 100%;
}

.vote-checker {
  color: #49d26b;
}
