.header {
  justify-content: center;
}

.header .title {
  padding: 15px;
}

.header .underscore {
  height: 3px;
  width: 75px;
  background-color: limegreen;
}

.grid-content {
  padding: 25px;
}

.label {
  padding-right: 8px;
}
